.innerNav {
  font-family: 'Bungee';
  height: 7.5rem;
  width: 100%;
  background-color: #edab26;
  color: #FFFFFF; 
  padding-left: 1.5em;
  padding-right: 1.5em;
  display:flex ;
  justify-content: space-between; 
  align-items:center;
  position: fixed;
  font-size: 2rem;
  z-index: 2;
  top:0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}



.navstuff {
  font-family: 'Source Sans Pro';
  display:flex ;
  flex-direction:column ;
  align-items: center;
  font: #FFFFFF; 
  
  
  /* background-color: #25af4aa1; */
  /* justify-content: right; */
}

#doubleArrow {
  color:#CC0000;
}